---
import BookingHero from "@/components/hero/BookingHero.astro";
import BookingForm from "@/components/ui/BookingForm.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="Booking">
  <BookingHero />
  <main id="main">
    <BookingForm />
  </main>
</BaseLayout>
